.container {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    align-items: center;
}

.cardItem{
    margin: 2rem;
}

.cardItem li{
    margin: 1rem;
    padding: 01rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    list-style: none;
    display: flex;

}